.el-tree-node__content:hover {
  background-color: rgba(43, 43, 43, 0.9);
}
.el-select {
  display: inline-block;
  position: relative;
  width: 100px;
}

.el-menu {
  background-color: #3C3F41;
}

.el-menu.el-menu--horizontal {
  border-bottom: solid 1px #3C3F41;
}

.el-menu-item {
  font-size: 10px;
  color: #303133;
  padding: 0 10px;
  cursor: pointer;
}

.el-tree {
  position: relative;
  cursor: default;
  background-color: rgba(43, 43, 43, .0);
  color: #ffffff;
}

.el-input__inner {
  background-color: #3C3F41;
}

.el-button {
  color: #409EFF;
  border-color: #c6e2ff;
  background-color: #3C3F41;
}
